@import '../../../styles/general.scss';
// REGISTER
.imgProfile{
    width: 110px; 
    height: 110px; 
    border-radius: 60px;
}
.divAddImg{
    margin-top: -31px;
    img{
        width: 94px; 
        position: absolute; 
        left: 0; 
        right: 0; 
        margin: auto; 
        padding-left: 50px
    }
    ion-input {
        opacity: 0; 
        margin: auto; 
        max-width: 44px; 
        left: 25px
    }
}
.m-select { padding-top: 24px }
.divCondiciones {
    margin: 20px 0 2px;
    ion-checkbox {
        margin: 0 7px -4px 0
    }
}