<ion-header>
  <ion-toolbar>
    <a [routerLink]="['/login']">
      <h6 class="title">
        <ion-icon name="arrow-back"></ion-icon> 
        Volver al Inicio de sesión
      </h6>
    </a>
  </ion-toolbar>
 </ion-header>
 <ion-content padding>
  <form (ngSubmit)="saveData()">
   <ion-list>    
      <h4 class="text-center">
        Ingresa a tu correo electronico y te enviaremos un link seguro para restablecer tu contraseña
      </h4>   
      <ion-item>
        <ion-icon class="icon-color" name="mail" item-start style="margin: -4px 7px 0 0"></ion-icon>                 
				<ion-input type="text" placeholder="Email"></ion-input>
      </ion-item>
      <ion-row>
				<ion-col text-center>
          <ion-button [routerLink]="['/login']" shpae="round" size="default" color="primary" expand="block">Restablecer contraseña</ion-button>
				  <ion-button [routerLink]="['/login']" shpae="round" size="default" color="primary" expand="block">Volver</ion-button>
				</ion-col>				
		  </ion-row>
    </ion-list>              
  </form>
</ion-content>